.create{
    margin: 0 5%;
}

.crt-img{
    background: url(./point-svgrepo-com.svg) no-repeat center;
    width: 3rem;
    height: 3rem;
    background-size: 100%;
}
.fb{
    background: url(./facebook-color-svgrepo-com.svg) no-repeat center;
    width: 1rem;
    height: 1rem;
    background-size: 100%;
}
.google{
    background: url(./google-color-svgrepo-com.svg) no-repeat center;
    width: 1rem;
    height: 1rem;
    background-size: 100%;
    border-radius: 50%;
}

input{
    border: 1px solid rgb(226, 224, 224);
    width: 100%;
    height: 2rem;
    border-radius: 5px;
}

.btn{
    margin-top: 1rem;
    margin-bottom: 1rem;
    border-radius: 5px;
    background-color: #f04a0d;
    color: #ffffff;
    width: 100%;
    height: 2rem;
}
.face{
    background-color: #12086f;
    color: #ffffff;
    margin-top: 1rem;
    width: 100%;
    height: 2rem;
    display: flex;
    justify-content: center;
    border-radius: 5px;
    align-items: center;
    gap: 5px
}
.goo{
    background-color: #4361ee;
    color: #ffffff;
    margin-top: 1rem;
    width: 100%;
    height: 2rem;
    display: flex;
    justify-content: center;
    border-radius: 5px;
    align-items: center;
    gap: 5px
}

